:root {
    --text-color: #757575;
    --second-black: #212121;
    --hero-back-color: #2F303A;
    --accent-color: #2196F3;
    --main-black: #000000;
    --main-white: #FFFFFF;
    --team-back-color: #F5F4FA;
    --footer-back-color: #2F303A;
    --footer-mail-tel: rgba(255, 255, 255, 0.6);
    --button-hover-focus: #188CE8;
    --border-header-color: #ECECEC;
    --border-content-portfolio: #eeeeee;
    --social-icon-color: #afb1b8;
    --icon-footer-bg: rgba(255, 255, 255, 0.1);
    --background-portfolio-image: rgba(33, 150, 243, 0.9);
}

body {
    background-color: var(--main-white);
    color: var(--second-black);

    font-family: Roboto, sans-serif;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.section {
    text-align: center;
    padding-bottom: 94px;
}
.section-title {
    color: var(--second-black);
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}
/* logo */
.logo {
    color: var(--main-black);
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

}
.site-nav .link {
    display: block;
    color: var(--black);
}
.site-nav.list {
    margin-top: 0;
    margin-bottom: 0;
}
.auth-nav .link {
    display: block;
    color: var(--p-color);
    padding-top: 32px;
    padding-bottom: 32px;
}
.logo-nav {
    display: flex;
    align-items: center;
}
.logo-web {
    color: var(--accent-color);
}

/* header */

.header-background {
    color: var(--main-white);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    border: 1px solid var(--border-header-color);
}
.site-nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
}
.site-nav.list {
    padding-left: 0;
}
.site-nav .link {
    color: var(--second-black);
    letter-spacing: 0.02em;
    
}
.site-nav .item + .item {
 margin-left: 50px;
}
/*
.site-nav .item:first-child {
 margin-left: 93px;
}
*/



.header-box {
    display: flex;
}
.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}


.mail-nav {
    display: flex;
}
.link.envelope {
    display: flex;
    align-items: center;

}
.mail-nav.list {
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.mail-nav .item + .item {
    margin-left: 50px;
}
.mail-nav .link {
    color: var(--text-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
    
}
.link.smartphone {
    display: flex;
    align-items: center;
  }
.smartphone-icon {
    margin-right: 10px;
    fill: currentColor;
}
.mail-icon {
    margin-right: 10px;
    fill: currentColor;
}
.link.current::after {
    display: block;
    position: relative;
    bottom: -33px;
    content: '';
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
.mail-nav .link:hover,
.mail-nav .link:focus,
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
    color: var(--accent-color);
    letter-spacing: 0.02em;
    
}



/* hero */
.hero {
    background-color: var(--hero-back-color);
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg); 
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

}
.hero-title {
    color: var(--main-white);
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;

   
}
/* button */
.button {
    color: var(--main-white);
    background-color: var(--accent-color);
}

.button.primary {
    border-radius: 4px;
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: var(--main-white);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: inherit;
    margin: 0 auto;
    display: flex;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary:hover,
.button.primary:focus {
    background-color: var(--button-hover-focus);
}

/* features */

.section.title {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0;
    margin-bottom: 0;
}
.idea-list {
    display: flex;
    text-align: left;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.idea-list .item+ .item {
    margin-left: 30px;
}
.idea .item {
    width: 270px;
}
.idea .title {
    color: var(--second-black);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0;
}
.idea .text {
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
}
.idea-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 270px;
    background: var(--team-back-color);
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 0;
}
/* what are we doing */

.work-list {
    display: flex;
    position: relative;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.work-list .item+.item {
    margin-left: 30px;
}

.work-img {
    display: block;
}
.section.features {
    margin-top: 0;
}
.work-text {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-white);
position: absolute;
background-color: rgba(47, 48, 58, 0.8);
padding-top: 27px;
padding-bottom: 27px;
bottom: 0;
width: 370px;
margin: 0;
}
/* our team */
.section.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--team-back-color);
}
.team-list {
    display: flex;
}
.team-white {
    background-color: var(--main-white);
    padding: 30px;

}
.team-list.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.team-list .title {
    color: var(--second-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
}
.social-team-container {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.social-team-container .social-team + .social-team {
    margin-left: 10px;
}
.social-team.link {
    display: inline-flex;
    height: 44px;
    width: 44px;
    align-items: center;
    padding: 0;
    color: var(--social-icon-color);
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.social-team.link:hover,
.social-team.link:focus {
    background-color: var(--accent-color);
    color: var(--main-white);
  
  }
.social-team-icon {
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    fill: currentColor;
  }
.team-list .item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}
.team-list.list .item+.item {
    margin-left: 30px;
}
.team-img {
    display: block;
}
.team-list .text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    margin-top: 0;
}
/* feedback */
.section.feedback {
    padding-top: 94px;
    padding-bottom: 94px;
}
.feedback.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    margin-top: 0;

}
.feedback.list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.feedback-item {
    display: flex;
    width: 170px;
    height: 92px;
}
.feedback-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--social-icon-color);
    border-radius: 4px;
    color: var(--social-icon-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  
.feedback-link:hover,
.feedback-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
  
.company-icon {
    fill: currentColor;
  }
/* footer */
.footer-info {
    font-style: normal;
    margin-top: 20px;
}

.footer-main {
    background-color: var(--footer-back-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo {
    color: var(--main-white);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.footer-list {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-address {
    color: var(--main-white);
    text-decoration: none;

}
.footer.link {
    color: var(--footer-mail-tel);
    letter-spacing: 0.03em;
    
}
.footer.link:hover,
.footer.link:focus {
    color: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.footer-list.list .item+.item {
    margin-top: 9px;
}
.footer-social {
    display: block;
    margin-left: 70px;
}
.first-box-footer {
    display: block;
}
.container.footer {
    display: flex;
    align-items: baseline;
  }
.social-footer-container.list {
    display: flex;
    gap: 10px;
}
.social-footer.link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: var(--icon-footer-bg);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer.link:hover,
.social-footer.link:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
}
.social-footer-icon {
    fill: var(--main-white);
}
.social-footer.text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-white);
    margin-top: 0;
    margin-bottom: 20px;
}

/* filters */

.social-footer {
    display: flex;

}

.button.second {
    padding: 6px 22px;
    color: var(--second-black);
    background-color: var(--team-back-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border: inherit;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}
.button.second:hover,
.button.second:focus {
    background-color: var(--accent-color);
    color: var(--main-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}
.filter-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 50px;
    margin-top: 0;
}
.filter-list .item+.item {
    margin-left: 8px;
}
/* examples  */
.overlay-content {
    position: relative;
    overflow: hidden;
}
.link.case:hover .overlay-text,
.link.case:focus .overlay-text {
    transform: translatex(0);
}
.overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: var(--main-white);
    letter-spacing: 0.03em;
    position: absolute;
    padding: 64px 24px;
    top: 1px;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-portfolio-image);
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.container.examples {
    margin-bottom: 94px;
}
.examples.list {
    list-style: none;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: -30px;
    padding-left: 0;
    margin-right: -30px;
}
.examples.title {
    color: var(--second-black);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    margin-top: 0;

}
.examples.text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.87;
    margin-top: 0;
    margin-bottom: 0;

}
.examples-img {
    display: block;
    max-width: 100%;
}
.examples-content {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.examples-stack {
    padding: 20px 24px;
    border: 1px solid var(--border-content-portfolio);
    border-top: hidden;
}
.link.case {
    display: block;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  .link.case:hover,
  .link.case:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  /* modal js */
  .backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(0, 0, 0, 0.2);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--main-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .exit-modal-box {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    justify-content: center;
    background: var(--main-white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .close-modal {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .exit-modal-box:hover,
  .exit-modal-box:focus {
color: var(--accent-color);
  }
  .modal-title {
    color: var(--second-black);
    font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
margin-top: 0;
margin-bottom: 12px;
  }
  .text-label-modal {
    color: var(--text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  margin-bottom: 10px;
  }
  .text-label-modal:last-child {
    margin-bottom: 0;
  }
  .modal-input {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
  
    padding: 12px 42px;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-input-box {
    position: relative;
    width: 100%;
  
    margin-top: 4px;
  }
  .icon-modal {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .feedback-modal {
    height: 120px;
    padding: 12px 16px;
    resize: none;
    outline: none;
  
    margin-top: 4px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .checkbox-label-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .checkbox-link {
    color: var(--accent-color);
    font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-left: 4px;
  }
  .checkbox-label {
    color: var(--text-color);
    display: block;
  margin-top: 20px;

  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  }
  .modal-input:focus {
    border-color: var(--accent-color);
  }
  
  .modal-input:focus + .icon-modal {
    fill: var(--accent-color);
  }
  input {
    outline: none;
  }
  .checkbox-input {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .checkbox-icon {
    margin-right: 7px;
    display: inline-block;
    border: 2px solid var(--second-black);
    border-radius: 2px;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .checkbox-input:checked + .checkbox-icon {
    border: none;
    background-color: var(--accent-color);
  }
  .submit-button-modal { 
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--main-white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    cursor: pointer;
    border: inherit;
    letter-spacing: 0.06em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .submit-button-modal:hover,
  .submit-button-modal:focus {
  background-color: var(--button-hover-focus);
}
  /* footer-send */
  .footer-send {
    display: block;
    margin-left: 93px;
  }
.label-footer-send {
    color: var(--main-white);
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
display: block;
}
.form-footer-send {
    display: block;
    gap: 12px;
}
.footer-email-form {
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
width: 358px;
height: 50px;
border-radius: 4px;
padding: 15px 16px;
background-color: var(--footer-back-color);
color: var(--footer-mail-tel);
}
.button-footer {
    width: 200px;
height: 50px;
font-weight: 700;
font-size: 16px;
line-height: 30px;
color: var(--main-white);
background-color: var(--accent-color);

letter-spacing: 0.06em;
margin-left: 12px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border: inherit;
border-radius: 4px;
padding: 0;
cursor: pointer;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
text-align: center;
align-items: center;
display: flex;
justify-content: center;
}
.footer-box {
    display: flex;
}
.icon-send {
    margin-left: 12px;
    fill: currentColor;
}